html {
	overflow-y: scroll;
}


.itxt18h-by-236w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 236px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt22h-by-272w{
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 22px;
	width: 272px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt18h-by-100w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 100px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt18h-by-110w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 110px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt18h-by-120 {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 120px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt18h-by-150w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 150px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt22h-by-152w{
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 22px;
	width: 152px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt18h-by-100w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 100px;
	margin: 5px 0;
	padding: 1px 3px;
}


.itxt18h-by-180w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 180px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt18h-by-200w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 200px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt18h-by-370w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 370px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt18h-by-304w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 304px;
	margin: 5px 0;
	padding: 6px;
}

.itxt18h-by-380w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 375px;
	margin: 5px 0;
	padding: 6px;
}

.itxt18h-by-400w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 18px;
	width: 400px;
	margin: 5px 0;
	padding: 1px 3px;
}

.itxt22h-by-302w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 22px;
	width: 302px;
	padding: 1px 3px;
}

.itxt22h-by-400w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 22px;
	width: 400px;
	padding: 1px 3px;
}

.selectBoxBig {
	font-size: 12px !important;
	height: 30px;
	border: 1px solid #BDC7D8;
	color: #6E6E6E;
	width: 310px;
	padding: 5px;
}

.inputTextArea {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 150px;
	width: 236px;
	margin: 5px 0;
	padding: 6px;
}

.itxtarea80hby236w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 80px;
	width: 236px;
	margin: 5px 0;
	padding: 6px;
}

.itxtarea150hby304w {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 150px;
	width: 304px;
	margin: 5px 0;
	padding: 6px;
}

.inputEmailBodyTextArea {
	border: 1px solid #BDC7D8;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px !important;
	height: 150px;
	width: 400px;
	margin: 5px 0;
	padding: 6px;
}
